@font-face {
  font-family: 'OpenSans';
  src: url('../static/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('../static/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../static/GothamPro.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamPro';
  font-weight: bold;
  src: url('../static/GothamPro-Bold.ttf') format('truetype');
}
