@import "~normalize.css";
@import "~rc-tooltip/assets/bootstrap.css";
@import "./fonts";
@import "./blocks/login-page";
@import "./blocks/success-register-page";
@import "./blocks/me-page";
@import "./blocks/sidebar";
@import "./blocks/main-menu";
@import "./blocks/main-block";
@import "./blocks/left-menu";
@import "./blocks/statuses-list";
@import "./blocks/no-account";
@import "./blocks/accounts";
@import "./blocks/account";
@import "./blocks/tasks_create_list";
@import "./blocks/create-account-modal";
@import "./blocks/account-cirlce";
@import "./blocks/select-accounts";
@import "./common-blocks/input";
@import "./common-blocks/link";
@import "./common-blocks/button";
@import "./common-blocks/notifications";
@import "./common-blocks/preload";
* {
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans', sanf-serif;
}
.__react_component_tooltip {
  opacity:0.9;
  margin-top:0;
  margin-left:0;
  visibility:visible;
}