.button {
  color: #000;
  background-color: #f6f6f6;
  line-height: 2;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  border-radius: 5px;
  font-size: 16px;
  font-family: 'GothamPro', sanf-serif;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover, &:active {
    box-shadow:0px 0px 20px 0px rgba(57,207,84,0.81);
  -webkit-box-shadow:0px 0px 20px 0px rgba(57,207,84,0.81);
  -moz-box-shadow:0px 0px 20px 0px rgba(57,207,84,0.81);

  }
  &_block-100 {
    display: block;
    width: 100%;
  }
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    &:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    &:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }
}
.btn-success {
    color: #fff;
    background-color: #39cf54;
    border-color: #39cf54;
    &:hover {
      color: #fff;
      background-color: #449d44;
      border-color: #398439;
    }
}
