input.input {
  color: #7f7f7f;
  font-family: 'GothamPro', sanf-serif;
  border-radius: 5px;
  &_text {
    font-size: 16px;
    color: #7f7f7f;
    background-color: #f1f1f1;
    padding: 10px 30px;
    line-height: 1.5;
    text-align: center;
    border: 0;
    border-top: 1px solid rgba(0,0,0, 0.2);
  }
  &_block {
    display: block;
  }
}
select.select {
  background-color: #f1f1f1;
}