.accounts {

    width: 100%;
    max-width: 100%;
    padding-left: 30px;
    margin-top: -10px;
    th{
      padding: 0.75rem;
      text-align: left;
    }
    td{
      padding: 0.75rem;

      border-top: 1px solid #eceeef;

      .control{
        ul{
          list-style: none;
          margin-left: 0;
          padding-left: 0;
          margin-top: -15px;
          li{
            float: left;
            a{
              margin-right: 15px;
            }
          }
        }
      }
    }


}
.main-menu__content {
  .create_account_new {
    position: fixed;
      right: 100px;
      bottom: 40px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      font-size: 50px;
      &:hover {
        color: #fff;
        background-color: #39cf54;
        border-color: #39cf54;
        box-shadow:0px 0px 33px 7px rgba(57,207,84,0.77);
        -webkit-box-shadow:0px 0px 33px 7px rgba(57,207,84,0.77);
        -moz-box-shadow:0px 0px 33px 7px rgba(57,207,84,0.77);
      }
  }
}
