.account-circle {
  display: flex;
  align-items: center;
  width: 30%;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 10px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  &:nth-child(3n-1), &:nth-child(3n-2) {
    margin-right: 5%;
  }
  &:hover {
    cursor: pointer;
    background-color: #00f45f;
  }
  &__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &_empty {
      background: grey;
    }
  }
  &__details {
    margin-left: 10px;
  }
  &__name {
    font-weight: bold;
  }
  &_selected {
    background-color: #00f45f;
    color: #fff;
  }
}