@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

.create-account-modal__content.task_add{
    padding: 40px 0 0 0;
    max-width: 60%;
    background-color: #faf9fc;
    input.input_text {
      font-size: 30px;
      color: #000000;
      background-color: transparent;
      padding: 10px 30px;
      line-height: 1.5;
      text-align: left;
      border: 0;
      border-top: none;
      border-bottom: 1px dashed #b3b5c9;
      padding-left: 0 !important;
      height: 10px;
      width: 100%;
      &:focus {
        width: 100%;
        border-bottom: 2px solid #ff005b;
      }


    }
    .create-account-modal__form{
      padding: 0;
    }
    .section {
      position: relative;
      margin-bottom: 50px;
      padding: 0px 0 50px 0px;
      &_dark {
        background-color: #f2f2f7;
      }
      &_no-padding {
        padding: 0;
        margin: 0;
      }
      &_underlined {
        border-bottom: 1px solid #b3b5c9;
      }
      &__error {
        padding-bottom: 15px;
      }
      &__controls {
        margin: 40px 0;
      }
      &__line {
        padding: 0 70px;
        position: relative;
      }
      &__content {
        padding: 0 70px;
      }
      &__number{
        position: absolute;
        left: 30px;
        top: -2px;
        color: #b3b5c9;
        font-size: 24px;
        font-weight: bold;
      }
      &__title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      &__options{
        &__name{
          padding: 30px;
          background: #50e05b;
          width: 33.333%;
          border-radius: 10px;
        }
      }
      &__select{
        display: block;
      }
    }
    .info{
      padding: 0;
      color:#b3b5c9;

    }
}
.create-account-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  label{
        padding-bottom: 15px;
  }
  &__content {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    max-width: 400px;
    margin: 30px auto;
    position: relative;
    margin-top: 15vh;
    margin-bottom: 60px;
  }
  &__error_account{
    padding: 30px;
    color:red;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
  }
  &__input, &__select {
    margin-bottom: 18px;
    padding: 16px 30px!important;
  }
  &__button {
    padding: 20px 40px !important;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover {
      cursor: pointer;
    }
    &_second {
      border: 0;
      border-radius: 5px;
      line-height: 0.5;
    }
    &_pink {
      background-color: #ff005b;
      box-shadow: 0 10px 16px 0 rgba(255,0,91, 0.2), 0 6px 20px 0 rgba(255,0,91, 0.19);
      color: #fff;
      &:hover {
        box-shadow: 0 10px 16px 0 rgba(255,0,91, 0.5), 0 6px 20px 0 rgba(255,0,91, 0.5);
      }
    }
  }
  &__error {
    margin-top: 25px;
    color: red;
  }
  &__close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 40px;
    text-decoration: none;
    color: #b8b8b8;
  }
}
.full-page-shadow {
  position: fixed;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  left: 0;
}
