.left-menu-main {
  &__heading {
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
  &__menu {
    margin-top: 25px;
  }
  &__menu-item {
    padding-bottom: 15px;
  }
  &__menu-link {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    &_active {
      font-weight: bold;
      &:before {
        content: '|';
        color: #ff4267;
        font-weight: bold;
        padding-right: 3px;
      }
    }
  }
}