.login-page {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &__logo {
    color: #507299;
    font-size: 18px;
    font-family: 'GothamPro', sanf-serif;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__have-account {
    text-align: center;
    margin-top: 5px;
  }
  &__have-account-link {
    font-size: 16px;
  }
  &__error-block {
    margin-top: 10px;
    border: 1px dashed #ff5353;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
  }
}
.login-page-form {
  &__input {
    margin-bottom: 10px;
  }
  &__button {
    margin-top: 15px;
  }
}
