.main-menu {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    padding-right: 40px;
  }
  &__content {
    width: 100%;
  }
  &__link {
    &_logo {
      color: #507299;
      font-size: 18px;
      font-family: 'GothamPro', sanf-serif;
      font-weight: bold;
      margin-bottom: 15px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  border-bottom: 1px solid #e4e5f0;
  padding-bottom: 20px;
  width: 100%;
}
