.me-page {

  margin: 0 auto;
  &__content {
    display: flex;
    min-height: 100%;
    min-height: 100vh;
  }
  &__page {
    padding-left: 20px;
    padding-top: 30px;
    width: 100%;
  }
  &__center {
    display: flex;
  }
  .notifications{

    color: #507299;
    font-size: 18px;
    margin-left:-100px;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
  }
}
