.no-account {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding-top: 200px;
  &__buttons {
    padding-top: 50px;
  }
  &__button {
    padding: 20px 40px !important;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  &__text {
    color: #d9dadb;
    font-size: 30px;
    font-weight: bold;
  }
}