.sidebar {
  background-color: #96aac2;
  width: 35px;
  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 3px;
    padding-top: 10px;
  }
  &__item {
    &_plus {
      margin-left: 4px;
    }
  }
  &__link {
    text-decoration: none;
    color: #fff;
    &:visited, &:hover, &:active {
      color: #fff;
      text-decoration: none;
    }
    &_plus {
      font-size: 30px;
      font-family: 'GothamPro', sanf-serif;
      line-height: 2;
    }
  }
  &__icon {
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
  }
}