.statuses-list {
  color: #7f7f7f;
  font-size: 13px;
  padding: 0;
  margin: 0;
  &__status {
    display: inline-block;
    padding-right: 15px;
    color: #7f7f7f;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &_active {
      color: #000;
    }
  }
}