.success-register-page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__logo {
    color: #507299;
    font-size: 18px;
    font-family: 'GothamPro', sanf-serif;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__links {
    padding-top: 10px;
  }
}
