.tasks {
  padding-left: 120px;
  &__content {
    display: flex;
    flex-wrap: wrap;
    .create{
      position: relative;
      font-weight: bold;
      position: absolute;
      left: 220px;
      /* bottom: 0; */
      width: 30px;
      padding: 0;
      height: 30px;
      margin-right: 0;
      margin-top: 0px;
      line-height: 0;
      border-radius: 50%;
      font-size: 25px;
      /* text-align: center; */
      color: #fff;
      background-color: #4cd851;
      border-color: #4cd851;
      &:hover {
        color: #fff;
        background-color: #39cf54;
        border-color: #39cf54;
        box-shadow: 0px 0px 33px 7px rgba(57, 207, 84, 0.77);
        -webkit-box-shadow: 0px 0px 33px 7px rgba(57, 207, 84, 0.77);
        -moz-box-shadow: 0px 0px 33px 7px rgba(57, 207, 84, 0.77);
      }
    }
  }

  .task {
    position: relative;
    width: 25%;
    margin-bottom: 15px;
    margin-right: 15px;
    &__nav_button{
      position: absolute;
      top:15px;
      right: 15px;
      a{
        color:#96aac2;
        font-size: 18px;
      }
    }
    &__nav{
      position: absolute;
      top: 50px;
      right: -10px;
      background: #5c5b5b;
      padding: 10px;
      border-radius: 5px;
      z-index: 100;
      &:after{
        content: "";
        position: absolute;
        top: -6px;
        right: 19px;
        margin-top: -13px;
        border-width: 10px;
        border-style: solid;
        /* z-index: 90; */
        border-color: transparent transparent #5c5b5b transparent;
      }
      ul{
        list-style: none;
        padding-left: 5px;
        padding-right: 35px;
        color: white;
        font-size: 14px;
        li{
          a{
            color: white;
            text-decoration: none;
            &:hover{
              color:#50e05b;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }

    &__content {
      position: relative;
      box-shadow:0px 0px 10px 4px rgba(209,209,209,0.6);
      -webkit-box-shadow:0px 0px 10px 4px rgba(209,209,209,0.6);
      -moz-box-shadow:0px 0px 10px 4px rgba(209,209,209,0.6);
      padding: 30px;
      background-color: #f9f9f959;
    }
    &__title {
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      padding-bottom: 15px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 16px;
      color: #b8b8b8;
      padding-bottom: 15px;
      margin-top: 5px;
    }
    &__status{
      cursor: pointer;
      padding-bottom: 15px;
      .active{
        color:#4cd851;
        border-bottom: 2px dotted;
      }
      .pause{
        color:#96aac2;
        border-bottom: 2px dotted;
      }
      &__nav{
        position: absolute;
        top: 130px;
        /* right: -10px; */
        left: 10px;
        background: #5c5b5b;
        padding: 10px;
        border-radius: 5px;
        z-index: 100;
        &:after{
          content: "";
          position: absolute;
          top: -6px;
          right: 95px;
          margin-top: -13px;
          border-width: 10px;
          border-style: solid;
          /* z-index: 90; */
          border-color: transparent transparent #5c5b5b transparent;
        }
        ul{
          list-style: none;
          padding-left: 5px;
          padding-right: 35px;
          color: white;
          font-size: 14px;
          li{
            a{
              color: white;
              text-decoration: none;
              &:hover{
                color:#50e05b;
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
    }
    &__create {
      padding-top: 15px;
      color: #39cf54;
    }
    &__image {
      margin-bottom: 10px;
      margin-top: 10px;
      img{
            border-radius: 40px;
      }
    }
    &__online{
      background: #4dd950;
      height: 15px;
      width: 15px;
      border-radius: 100%;
      position: absolute;
      margin-left: 0px;
      margin-top: 0px;
      border: 1px solid #ffff;
    }
  }
}
